# Cachés de Python
__pycache__/
*.py[cod]

# Checkpoints de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de macOS
.DS_Store

# Entornos virtuales
env/
venv/
.venv/

# Docker: override y archivos de variables de entorno
docker-compose.override.yml
.env